.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.statList{
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin-bottom: 0px;
    list-style: none;

}
.item {
    flex-basis: calc(100% / 3);
   width: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.statistics{
    border: 1px solid gainsboro;
    width: auto;
   margin-top: 50px;
    box-shadow: 0px 4px 10px 0px #00000040;
}